html
  head
    title= title
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
    script()
  body

    div.container
      h1 Classement des joueurs par ratio de parties gagnées
      //- inspirez-vous de la liste des joueurs dans index.pug 
      //- sachez que vous devriez trier la liste par ratio
      //- il est possible de trier une liste, p.ex. https://stackoverflow.com/a/44058939/1168342

    //- bootstrap nécessite 
    script(src="") 