html
  head
    title= title
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
    script()
  body

    div.container
      h1 Redémarrer jeux avec résultat sur une nouvelle page